.wasabi-tabs {
	width: 100%;
	overflow: hidden;
	height: 100%;
	font-size: 14px;
	color: var(--color);
	position: relative;
}
.wasabi-tabs .wasabi-tab-nav{
	border: 1px solid var(--border-color);
    border-radius: 4px 4px 0 0;
	box-sizing: border-box;
	border-bottom: 1px solid var(--border-color);
	background-color: white;
	border-left:none;
	padding: 0;
    position: relative;
	height: 42px;
}
.wasabi-tabs .wasabi-tab-nav.plain{
    border: none;
    border-bottom: 1px solid var(--border-color);
   
}
.wasabi-tabs .wasabi-tab-nav .wasabi-tab {
	flex-shrink: 0;
	padding: 0 10px;
	height: 40px;
	box-sizing: border-box;
	line-height: 40px;
	display: inline-block;
	list-style: none;
	font-size: var(--font-size);
	color: var(--color);
	position: relative;
	overflow: hidden;
	transition: all .3s ease-out 0s;
	cursor: pointer;
    border-left: 1px solid var(--border-color);
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab{
    border-left:none;
    height: 41px;
    line-height: 41px;
}
.wasabi-tab:last-child{
	border-right: 1px solid var(--border-color);
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab:last-child{
    border-right: none;
}
.wasabi-tab .tab-icon {
	color: var(--color);
	font-size: 12px;
	margin-left: 10px;
	top: 1px;
	position: relative;
}

.wasabi-tab.primary:hover {
	color: var(--primary-color);
}
.wasabi-tab.primary.active {
background-color: var(--primary-color);
	color: white;
  
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.primary.active{
    background-color:white;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.wasabi-tab.primary:hover .tab-icon {
	color: var(--primary-color);
}
.wasabi-tab.primary.active .tab-icon{
	color: white;
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.primary.active  .tab-icon {
    background-color:white;
    color: var(--primary-color);
}

.wasabi-tab.success:hover {
	color: var( --success-color);
}
.wasabi-tab.success.active {
	color: white;
	background-color: var( --success-color);
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.success.active{
    background-color:white;
    color: var(--success-color);
    border-bottom: 1px solid var(--success-color);
}
.wasabi-tab.success:hover .tab-icon {
	color: var( --success-color);
}
.wasabi-tab.success.active .tab-icon{
	color: white;
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.success.active .tab-icon{
    background-color:white;
    color: var(--success-color);
}


.wasabi-tab.info:hover {
	color: var(--info-color);
}
.wasabi-tab.info.active {
	color: white;
	background-color: var(--info-color);
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.default.active{
    background-color:white;
    color: var(--info-color);
    border-bottom: 1px solid var(--info-color);
}
.wasabi-tab.info:hover .tab-icon {
	color: var(--info-color);
}
.wasabi-tab.info.active .tab-icon{
	color: white;
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.info.active  .tab-icon{
    background-color:white;
    color: var(--info-color);
}

.wasabi-tab.warning:hover {
	color: var(--warning-color);
}
.wasabi-tab.warning.active {
	color: white;
	background-color: var(--warning-color);
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.warning.active{
    background-color:white;
    color: var(--warning-color);
    border-bottom: 1px solid var(--warning-color);
}
.wasabi-tab.warning:hover .tab-icon {
	color: var(--warning-color);
}
.wasabi-tab.warning.active .tab-icon{
	color: white;
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.warning.active .tab-icon{
    background-color:white;
    color: var(--warning-color);
}

.wasabi-tab.danger:hover {
	color: var(--danger-color);
}
.wasabi-tab.danger.active {
	color: white;
	background-color: var(--danger-color);
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.danger.active{
    background-color:white;
    color: var(--danger-color);
    border-bottom: 1px solid var(--danger-color);
}
.wasabi-tab.danger:hover .tab-icon {
	color: var(--danger-color);
}
.wasabi-tab.danger.active .tab-icon{
	color: white;
}
.wasabi-tabs .wasabi-tab-nav.plain .wasabi-tab.danger.active  .tab-icon{
    background-color:white;
    color: var(--danger-color);
}



.wasabi-tabs .section {
	display: none;
	min-height: 400px;
	height: calc(100% - 42px);
}

.wasabi-tabs .section.active {
	display: block;
}


