/*
create by wangzy
date:2016-05-18
desc:面板组件样式
*/

.wasabi-panel{
  margin: 0px;
  margin-bottom: 10px;
  box-shadow:none;
  overflow: visible;
  border-radius: 4px;
}

.wasabi-panel .panel-heading
{
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
.panel-default>.panel-heading {
  color: #666666;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-primary>.panel-heading {
  color: #fff;
  background-color: #1c84c6;
  border-color: #1c84c6;
}

.panel-success>.panel-heading {
  color: #fff;
  background-color: #1ab394;
  border-color: #1ab394;
}
.panel-info>.panel-heading {
  color: #fff;
  background-color: #23c6c8;
  border-color: #23c6c8;
}
.panel-warning>.panel-heading{
  color: #fff;
  background-color: #f8ac59;
  border-color: #f8ac59;
}

.panel-danger>.panel-heading{
  color: #fff;
  background-color: #ed5565;
  border-color: #ed5565;
}

.wasabi-panel .panel-buttons
{
  position: absolute;
  right: 30px;
  bottom: -6px;
}

.wasabi-panel .panel-icon
{
  position:absolute;
  right:10px;
  bottom: 5px;
  width:20px;
  height:20px;

}
.wasabi-panel .panel-body
{
  -webkit-transition: height 1s;
  transition:height 1s;
  height:100%;
  padding:0px;
  padding-bottom: 10px;
  text-align: left;
  margin: 0;
  border: 0;

}

