
.wasabi-tabs{
  width:100%;
}
.wasabi-tab
{
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  overflow: hidden;
}

.wasabi-tab.default {
  border: 1px solid #d9d9d9;
}
.wasabi-tab.default.active {
  background: transparent;
  color: #1c84c6;
}

.wasabi-tab.primary {
  font-weight: normal;
  border: 1px solid #1c84c6;
  color:#1c84c6;
}


.wasabi-tab.primary.active {
  background: #1c84c6;
  color: #ffffff;
}
.wasabi-tabs .section {
  display:none;
  min-height: 400px;
}
.wasabi-tabs .section.active
{
  display:block;
}

.wasabi-tabs .section.default {
  border: 1px solid #d9d9d9;
 
}

.wasabi-tabs .section.primary {
  border: 1px solid #1c84c6;
 
}




