.wasabi-login {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: var(--font-size);
    color: var(--color);
    background-color: #f3f3f4;
    background-size: 100% 100%;
}

.wasabi-login .title {
   padding-top:200px;
    text-align: center;
    color: #2795dc;
    font-size: 35px;
    font-weight: bold;
}

.wasabi-login .login {
    border: 0;
    padding: 5px 0;
    background: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
    margin-top: 50px;
    width: 400px;
}

.wasabi-username {
    height: 60px;
}

.wasabi-password {
    height: 55px;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
}

.wasabi-login .inputOuter {
    width: 200px;
    height: 42px;
    margin-top: 10px;
    float: left;
}

.wasabi-login .inputstyle {
    width: 250px;
    height: 40px;
    padding-left: 5px;
    line-height: 40px;
    border: 1px solid #D7D7D7;
    background: #fff;
    color: var(--color);
    border-radius: 2px;
    font-family: Verdana, Tahoma, Arial;
    font-size: 16px;
    outline: none;
 
}

.wasabi-login .input-tips {
    float: left;
    margin-top: 10px;
    width: 50px;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    font-family: "Hiragino Sans GB", "Microsoft Yahei";
}

.wasabi-login .button_blue {
    display: inline-block;
    height: 40px;
    border-radius: 4px;
    background: #2795dc;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid #0078b3;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    width: 140px;
    text-align: center;
    outline: none;
    margin-left: 90px;
    margin-top: 30px;
    width: 150px;
}

.wasabi-login input.button_blue:hover {
    background: #0081c1;
    border-bottom: 3px solid #006698;
    color: #fff;
    text-decoration: none;
}

.wasabi-login.inputstyle:focus,.inputstyle:hover {
    border: 1px solid #198BD4;
    box-shadow: 0 0 2px #198BD4;
}