@font-face {
  font-family: "iconfont"; /* Project id 2563689 */
  src: url('iconfont.woff?t=1630652279152') format('woff'),
       url('iconfont.ttf?t=1630652279152') format('truetype'),
       url('iconfont.svg?t=1630652279152#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e675";
}

.icon-error:before {
  content: "\e69d";
}

.icon-success:before {
  content: "\e64e";
}

.icon-row:before {
  content: "\e61e";
}

.icon-tab:before {
  content: "\e654";
}

.icon-daohang:before {
  content: "\e680";
}

.icon-button:before {
  content: "\e6df";
}

.icon-form:before {
  content: "\e607";
}

.icon-layout:before {
  content: "\e60e";
}

.icon-csv:before {
  content: "\e67a";
}

.icon-number:before {
  content: "\e608";
}

.icon-baifenbi:before {
  content: "\e68d";
}

.icon-date:before {
  content: "\e603";
}

.icon-idcard:before {
  content: "\e6fb";
}

.icon-select:before {
  content: "\e71b";
}

.icon-drop-down:before {
  content: "\e7ff";
}

.icon-drop-up:before {
  content: "\e697";
}

.icon-italic:before {
  content: "\eeb2";
}

.icon-bold:before {
  content: "\e600";
}

.icon-colorSelector:before {
  content: "\e627";
}

.icon-underline:before {
  content: "\e633";
}

.icon-merge-cell:before {
  content: "\e780";
}

.icon-wrap:before {
  content: "\ebb6";
}

.icon-align-right:before {
  content: "\e61c";
}

.icon-undo:before {
  content: "\e787";
}

.icon-redo:before {
  content: "\e82a";
}

.icon-align-left:before {
  content: "\e606";
}

.icon-align-center:before {
  content: "\e7c6";
}

.icon-font-colors:before {
  content: "\eaef";
}

.icon-reduce:before {
  content: "\e6bb";
}

.icon-expand:before {
  content: "\e6d5";
}

.icon-setting:before {
  content: "\e706";
}

.icon-stop:before {
  content: "\e6ae";
}

.icon-refresh:before {
  content: "\e69c";
}

.icon-calculator:before {
  content: "\ea2f";
}

.icon-chrome:before {
  content: "\ea47";
}

.icon-columns:before {
  content: "\ea59";
}

.icon-desktop:before {
  content: "\ea81";
}

.icon-diamond:before {
  content: "\ea83";
}

.icon-frown:before {
  content: "\eae1";
}

.icon-tags:before {
  content: "\ec34";
}

.icon-tasks:before {
  content: "\ec35";
}

.icon-mobile:before {
  content: "\f051";
}

.icon-user:before {
  content: "\ec52";
}

.icon-ambulance:before {
  content: "\e9b6";
}

.icon-eye:before {
  content: "\eab4";
}

.icon-magic:before {
  content: "\eb50";
}

.icon-paw:before {
  content: "\eb87";
}

.icon-tree:before {
  content: "\ec3c";
}

.icon-trophy:before {
  content: "\ec3f";
}

.icon-truck:before {
  content: "\ec40";
}

.icon-user-add:before {
  content: "\ec54";
}

.icon-user-remove:before {
  content: "\ec56";
}

.icon-twitch:before {
  content: "\ec9b";
}

.icon-sun:before {
  content: "\ecec";
}

.icon-sum:before {
  content: "\e6ad";
}

.icon-filter:before {
  content: "\e8fe";
}

.icon-time:before {
  content: "\e832";
}

.icon-switch:before {
  content: "\e632";
}

.icon-clear:before {
  content: "\e642";
}

.icon-lock:before {
  content: "\e670";
}

.icon-home:before {
  content: "\e9de";
}

.icon-save:before {
  content: "\e7e6";
}

.icon-image:before {
  content: "\e72a";
}

.icon-txt:before {
  content: "\e609";
}

.icon-woman:before {
  content: "\e67f";
}

.icon-volume-off:before {
  content: "\e631";
}

.icon-man:before {
  content: "\ea1b";
}

.icon-share:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e602";
}

.icon-water:before {
  content: "\e604";
}

.icon-msg:before {
  content: "\e60d";
}

.icon-close:before {
  content: "\e6dd";
}

.icon-delete:before {
  content: "\eb0c";
}

.icon-dollar:before {
  content: "\e6c0";
}

.icon-remove:before {
  content: "\e628";
}

.icon-add:before {
  content: "\e658";
}

.icon-arrow-salt:before {
  content: "\e9d0";
}

.icon-arrow-circle-down:before {
  content: "\e9da";
}

.icon-arrow-circle-left:before {
  content: "\e9db";
}

.icon-arrow-circle-right:before {
  content: "\e9dc";
}

.icon-arrow-circle-up:before {
  content: "\e9dd";
}

.icon-bicycle:before {
  content: "\e9fd";
}

.icon-binoculars:before {
  content: "\e9fe";
}

.icon-birthday-cake:before {
  content: "\e9ff";
}

.icon-bomb:before {
  content: "\ea06";
}

.icon-bus:before {
  content: "\ea2a";
}

.icon-cab:before {
  content: "\ea2c";
}

.icon-calendar:before {
  content: "\ea2e";
}

.icon-chain:before {
  content: "\ea36";
}

.icon-child:before {
  content: "\ea46";
}

.icon-circle:before {
  content: "\ea48";
}

.icon-clipboard:before {
  content: "\ea4c";
}

.icon-clone:before {
  content: "\ea4e";
}

.icon-cloud:before {
  content: "\ea50";
}

.icon-copy-right:before {
  content: "\ea65";
}

.icon-coffee:before {
  content: "\ea7a";
}

.icon-eur:before {
  content: "\ea9c";
}

.icon-fax:before {
  content: "\eaa8";
}

.icon-archive:before {
  content: "\eaad";
}

.icon-text:before {
  content: "\eabc";
}

.icon-word:before {
  content: "\eabd";
}

.icon-git:before {
  content: "\ead7";
}

.icon-smile:before {
  content: "\eb69";
}

.icon-minuscircle:before {
  content: "\eb6e";
}

.icon-music:before {
  content: "\eb76";
}

.icon-help:before {
  content: "\ebc9";
}

.icon-sitemap:before {
  content: "\ebdb";
}

.icon-loading:before {
  content: "\ebfe";
}

.icon-upload:before {
  content: "\ec51";
}

.icon-volume-down:before {
  content: "\ec7a";
}

.icon-volume-up:before {
  content: "\ec7c";
}

.icon-weibo:before {
  content: "\ec7e";
}

.icon-windows:before {
  content: "\ec83";
}

.icon-wordpress:before {
  content: "\ec84";
}

.icon-wrench:before {
  content: "\ec85";
}

.icon-trash:before {
  content: "\eccf";
}

.icon-thumbs-up:before {
  content: "\ecd8";
}

.icon-large:before {
  content: "\ece5";
}

.icon-thumbs-down:before {
  content: "\ece7";
}

.icon-table:before {
  content: "\ecee";
}

.icon-apple:before {
  content: "\e9ae";
}

.icon-adjust:before {
  content: "\e9af";
}

.icon-angle-double-down:before {
  content: "\e9b9";
}

.icon-angle-double-left:before {
  content: "\e9ba";
}

.icon-angle-double-right:before {
  content: "\e9bb";
}

.icon-angle-double-up:before {
  content: "\e9bc";
}

.icon-arrow-down:before {
  content: "\e9bd";
}

.icon-arrow-left:before {
  content: "\e9be";
}

.icon-arrow-right:before {
  content: "\e9bf";
}

.icon-arrow-up:before {
  content: "\e9c0";
}

.icon-android:before {
  content: "\e9cb";
}

.icon-arrows:before {
  content: "\e9cf";
}

.icon-arrowsh:before {
  content: "\e9d1";
}

.icon-arrowsv:before {
  content: "\e9d2";
}

.icon-at:before {
  content: "\e9d5";
}

.icon-bell:before {
  content: "\e9e4";
}

.icon-bell-slash:before {
  content: "\e9e6";
}

.icon-backward:before {
  content: "\e9e8";
}

.icon-ban:before {
  content: "\e9ea";
}

.icon-bank:before {
  content: "\e9eb";
}

.icon-chart:before {
  content: "\e9ec";
}

.icon-barcode:before {
  content: "\e9ed";
}

.icon-bars:before {
  content: "\e9ee";
}

.icon-battery0:before {
  content: "\e9ef";
}

.icon-battery1:before {
  content: "\e9f0";
}

.icon-battery2:before {
  content: "\e9f1";
}

.icon-battery3:before {
  content: "\e9f2";
}

.icon-battery4:before {
  content: "\e9f3";
}

.icon-bug:before {
  content: "\e9f7";
}

.icon-building:before {
  content: "\e9f8";
}

.icon-bullhorn:before {
  content: "\e9fa";
}

.icon-bullseye:before {
  content: "\e9fb";
}

.icon-bolt:before {
  content: "\ea05";
}

.icon-book:before {
  content: "\ea07";
}

.icon-caret-down:before {
  content: "\ea22";
}

.icon-caret-left:before {
  content: "\ea23";
}

.icon-caret-right:before {
  content: "\ea24";
}

.icon-caret-up:before {
  content: "\ea29";
}

.icon-check:before {
  content: "\ea38";
}

.icon-comment:before {
  content: "\ea5a";
}

.icon-commenting:before {
  content: "\ea5b";
}

.icon-comments:before {
  content: "\ea5e";
}

.icon-cny:before {
  content: "\ea66";
}

.icon-code:before {
  content: "\ea67";
}

.icon-css3:before {
  content: "\ea8b";
}

.icon-cut:before {
  content: "\ea8e";
}

.icon-database:before {
  content: "\ea92";
}

.icon-envelope:before {
  content: "\ea98";
}

.icon-exchange:before {
  content: "\ea9d";
}

.icon-edit:before {
  content: "\eaa7";
}

.icon-audio:before {
  content: "\eaae";
}

.icon-excel:before {
  content: "\eab0";
}

.icon-file-image:before {
  content: "\eab1";
}

.icon-flag:before {
  content: "\eac3";
}

.icon-folder:before {
  content: "\eac9";
}

.icon-movie:before {
  content: "\eacb";
}

.icon-file:before {
  content: "\eacc";
}

.icon-pdf:before {
  content: "\eacd";
}

.icon-ppt:before {
  content: "\eace";
}

.icon-folder-open:before {
  content: "\eada";
}

.icon-font:before {
  content: "\eadc";
}

.icon-hand-peace:before {
  content: "\eb01";
}

.icon-heart:before {
  content: "\eb17";
}

.icon-heartbeat:before {
  content: "\eb18";
}

.icon-heart-blank:before {
  content: "\eb19";
}

.icon-key:before {
  content: "\eb20";
}

.icon-keyboardo:before {
  content: "\eb21";
}

.icon-info:before {
  content: "\eb2b";
}

.icon-brower:before {
  content: "\eb2e";
}

.icon-list:before {
  content: "\eb3a";
}

.icon-forward:before {
  content: "\eb52";
}

.icon-back:before {
  content: "\eb53";
}

.icon-map:before {
  content: "\eb56";
}

.icon-location:before {
  content: "\eb57";
}

.icon-phone:before {
  content: "\eb8b";
}

.icon-play:before {
  content: "\ebab";
}

.icon-repeat:before {
  content: "\ebae";
}

.icon-qq:before {
  content: "\ebb4";
}

.icon-qrcode:before {
  content: "\ebb5";
}

.icon-recycle:before {
  content: "\ebbc";
}

.icon-sharealt:before {
  content: "\ebe3";
}

.icon-sort:before {
  content: "\ebfb";
}

.icon-sort-asc:before {
  content: "\ec0c";
}

.icon-sort-desc:before {
  content: "\ec0d";
}

.icon-star:before {
  content: "\ec1e";
}

.icon-star-half:before {
  content: "\ec20";
}

.icon-star-blank:before {
  content: "\ec21";
}

.icon-umbrella:before {
  content: "\ec4d";
}

.icon-unlock:before {
  content: "\ec4f";
}

.icon-wechat:before {
  content: "\ec7d";
}

.icon-wifi:before {
  content: "\ec81";
}

