/**
列表样式
 */
@import url("../base.css");
.wasabi-grid {
  width: 100%;
  position: relative;
  overflow: hidden;

}
/*
列表内部一组件的样式
*/
.wasabi-grid .wasabi-form-group
{
  padding:0px;
  min-height:0px;
}
.wasabi-grid .wasabi-checkul
{
  margin: 0px;
  padding: 0px;
  height: 12px;
}
.wasabi-grid .wasabi-checkul li
{
  margin:0px;
  padding:0px;
  height: 12px;
  width: 12px;
}
.wasabi-grid .wasabi-checkul .checkbox + label {
  top: 0px;
  left: 0px;
  margin: 0px;
}

   /*
   表格容器
   */
 .wasabi-grid .table-container {
   width: 100%;
   position: relative;
   overflow: hidden;
 }
/*
固定表头容器
*/
.wasabi-grid .table-fixed
{
  margin-bottom: 0px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;


}


/*
真实表格容器
*/
.wasabi-grid .table-realTable {
  width: 100%;
  overflow: auto;
  margin-bottom: 1px;
}
/*
表格基本样式
*/
.wasabi-grid .table {
    clear: both;
    max-width: none;
    border: 1px solid #EBEBEB;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    box-sizing: border-box;
}
.table td,.table th
{    border: 1px solid #ccc;
    line-height: 1.42857;
   padding: 8px;
    vertical-align: middle;
    box-sizing: border-box;
    text-align:center;
}

.table>thead>tr>th {
     border-bottom: 1px solid #DDD;
     font-size: 13px;
}

/*
没有边框的时候
*/

 .table.table-no-bordered td {
   border: none;
   border-top: 1px solid #ccc;
}
 .table.table-no-bordered th {
   border: none;
   border-bottom: 1px solid #DDD;
}




/*
背景颜色
*/

.wasabi-grid .table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.wasabi-grid .table > tbody > tr.selected {
  background-color: #fbec88;
      border: 1px solid #fad42e;
 }

.wasabi-grid .table > tbody > tr:hover {
    background-color: #f5f5f5;
}
.wasabi-grid .table > tbody > tr.selected:hover {
  background-color: #fbec88;
   border: 1px solid #fad42e;
}
/*
单元格样式
*/
.wasabi-grid .wasabi-grid-cell{
  display: inline-block;
  width: 100%;
  overflow: visible;
  box-sizing:border-box;
}
.wasabi-grid .wasabi-grid-cell .wasabi-form-group{
  width: 100%;
}




/*
排序样式
*/

.wasabi-grid thead th.both {
  cursor: pointer;
  background-position:95% 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}

.wasabi-grid thead th.asc {
  cursor: pointer;
  background-position:95% 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

.wasabi-grid thead th.desc {
  cursor: pointer;
  background-position:95% 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}

/*
分页
*/

/*
借用了bootstrap的pagination
*/

.wasabi-pagination
{
  line-height: 38px;
}


  .pagination-info{
    float: left;
  }
  .pagination-number{
    float: right;
    padding-right:20px;
    text-align: right;
  }
  .wasabi-pagination .pagination
  {
        margin: 4px 0;
    white-space: nowrap;
        display: inline-block;
    padding-left: 0;
    border-radius: 4px;
  }
  .wasabi-pagination .pagination>li {
    display: inline;
    cursor: pointer;
}

.pagination>li.previous a {
  margin-left: 0;
 
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination>li.next a{

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
  .pagination>li>a, .pagination>li>span {
    background-color: #FFF;
    border: 1px solid #DDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}
.pagination>li.active>a, .pagination>li.active>span,.pagination>li>a:focus, .pagination>li>a:hover,.pagination>li>span:focus, .pagination>li>span:hover{
    background-color: #f4f4f4;
    border-color: #DDD;
    color: #23527c;
    cursor: default;
}

/*
正在加载
*/
.wasabi-grid .wasabi-grid-loading {
  position: absolute;
  float: left;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.1;
  z-index: 3;

}


.wasabi-grid  .wasabi-load-icon
{

  position: absolute;
  left: 50%;
  top:20%;
  background-image: url("../../img/loading.gif");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width:16px;
  height: 16px;
}

/*拖动时的分隔线*/
.wasabi-grid .wasabi-grid-divide
{
  position: absolute;
  height: 100%;
  width: 1px;
  z-index: 2;
  top:0px;
  display: none;
  cursor: ew-resize;
  background-color: #dedede;

}
/*表头菜单容器*/
.wasabi-grid .wasabi-header-menu-container {
  z-index: 2;
  position: absolute;
  display: none;
  height: auto;
  width: 120px;
  top: 0px;
  left: 0px;
}
/*表头菜单*/
  .wasabi-header-menu {
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  
  

  .wasabi-header-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #666666;
    white-space: nowrap;
    text-decoration: none;
  }
  .wasabi-header-menu  a:hover {
    color: #262626;
    background-color: #f5f5f5;
  }


.wasabi-grid .wasabi-grid-panel {
  position: absolute;
  width: 600px;
  top: 48px;
  left: 35px;
  background: #ffffff;
  height: 0px;
  border: 1px solid #D8D8D8;
  border-top: none;
  box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.4);
  transition: height 0.5s;
  overflow: hidden;
  

}
.wasabi-grid-panel-body {
  width: 100%;
  height: 100%;

}