@import url("../base.scss");

.wasabi-transfer{
  width: 410px;
  margin: auto;
}
.wasabi-transfer:focus {
  outline: none;
}
.wasabi-transfer-left,.wasabi-transfer-right{width:160px;height:200px;border:1px solid #d7dde2;overflow: auto;}
.wasabi-transfer-left  li,.wasabi-transfer-right li{line-height:35px;font-size:14px;padding-left:10px;border-bottom:1px solid #d7dde2;cursor:pointer;}
.wasabi-transfer-left li:hover,.wasabi-transfer-right li:hover{background:#dedede;}
.wasabi-transfer-left li.on,.wasabi-transfer-right li.on{background:#dcf9f8;}

.wasabi-transfer-left{float:left;}
.wasabi-transfer-middle {
  width: 80px;
  float: left;
  padding-top: 40px;
  margin-left: 10px;
}

.wasabi-transfer-right{float:right;}
