/**
列表样式
 */
@import url("../../Sass/base.css");



/*
表格基本样式
border奇怪的现象，出现变粗的现象
*/
.wasabi-table {
  clear: both;
  border-spacing: 0;
  border-collapse:inherit;
  box-sizing: border-box;
  table-layout: fixed;
  position:absolute;
  left: 0px;
  top: 0px;
}


.wasabi-table td,
.wasabi-table th {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  padding: 0px;
  font-weight: normal;
  background-color: white;
}


/*
背景颜色
*/
.wasabi-table th{
  background-color: var(--header-color);
}
.wasabi-table tr:hover td{
  background-color: var(--background-color);
}

.wasabi-table>tbody>tr.selected td{
  background-color: var(--background-color);
}

/* 树表格与交叉表不显示 */
.wasabi-treegrid .wasabi-table tr:hover td{
  background-color: white;
}

.wasabi-pivot .wasabi-table tr:hover td{
  background-color: white;
}

/* 树表格与交叉表选中时显示 */
.wasabi-treegrid .wasabi-table>tbody>tr.selected:hover td{
  background-color: var(--background-color);
}
.wasabi-pivot .wasabi-table>tbody>tr.selected:hover td{
  background-color: var(--background-color);
}

/*
没有边框的时候
*/

.wasabi-table.table-no-bordered td {
  border: none;
  border-top: 1px solid var(--border-color);
}

.wasabi-table.table-no-bordered th {
  border: none;
  border-bottom: 1px solid var(--border-color);
}



/*
编辑状态下
*/

.wasabi-table td.focus .wasabi-table-cell{
  padding: 0px;
  border: 1px solid var(--primary-color);
  overflow: visible;
  left:1px;
}
.wasabi-table td.focus .wasabi-table-cell .wasabi-form-group {
  margin: 0;
  min-height: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.wasabi-table td.focus .wasabi-input{
  border:none;
  text-align: inherit;
}


/*
单元格样式
*/
.wasabi-table-cell {
  width: 100%;
  padding-left:  5px;
  padding-right: 5px;
  padding-top:11px;
  padding-bottom: 7px;
  box-sizing: border-box;
  word-break: break-all;
  position: relative;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  /* 保证文字行不换行 */
  white-space: nowrap; 
  min-height: 40px;
}
.wasabi-table  th .wasabi-table-cell{
  overflow: hidden;
  text-overflow: clip;
  height: 40px;
}

.wasabi-table.edit .wasabi-table-cell,.wasabi-pivot .wasabi-table-cell,.wasabi-treegrid .wasabi-table-cell{
  overflow: hidden;
  text-overflow: clip;
  height: 40px;
}
.wasabi-table-cell:hover{
  color: var(--primary-color);
}



.wasabi-table .wasabi-order-column{
position:sticky;
}
.wasabi-table .wasabi-detail-column{
  position:sticky;
}
.wasabi-table .wasabi-select-column{
  position:sticky;
}
.wasabi-excel-sheet .wasabi-table td,
.wasabi-excel-sheet  .wasabi-table th {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 0px 2px;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
min-width: 80px;
  font-weight: normal;
}



.wasabi-excel-sheet .wasabi-table td.chosed{
  background-color: var(--background-color);
}