/*/
create by wangzy
date:2016-05-17
desc:导入功能组件样式
 */
@import url("../base.scss");

.import-section
{
  position: relative;
  height: 50px;
  display: block;
  margin-top: 20px;
  padding-left: 35px;
}

.import-text
{
  display: inline;
  float:left;
  width:258px;
  padding-top:6px;
  padding-bottom: 6px;
  padding-left: 2px;
  padding-right: 18px;
  font-size: 12px;
  line-height: 34px;
  height: 34px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d7dde2;
  box-shadow: none!important;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  outline: none;
}
.import-file
{
  height: 28px;
  width: 100px;
  z-index: 3;
  right: 38px;
  position: absolute;
  opacity: 0;
  top: 3px;
  filter:alpha(opacity=0);
}
.import-chose
{
  background-color: #DADADA;
  color: #555354;
  width: 100px;
  display: inline;
  right: 28px;
  position: absolute;
  top: 2px;

}

.import-downloadmodel
{
  position: absolute;
  top: 70px;
  left: 55px;
  color: #2ec9c2;
}

.import-downloadmodel:before
{
  font-family: 'icomoon' !important;
  content: "\e914";
  color: #2ec9c2;
  background-size: 12px 12px;
  position: absolute;
  left: -19px;
  font-size: 20px;
  top: -5px;
}

.import-submit
{
  display: block;
  text-align: right;
  position: absolute;
  height: 60px;
  bottom: 0px;
  padding-top: 12px;
  background-color: #fafafa;
  width: 100%;
  border-top: 1px solid #ebebeb;
}
.import-upload-info
{
  position: absolute;
  top: 100px;
  left: 34px;
  width: 400px;
  text-align: left;
  height: 120px;
  overflow: auto;

}
.import-upload-info .success
{
  color:#2ec9c2;
}
.import-upload-info .fail
{
  color: #d9534f;
}
.import-failload
{
  position:absolute;
  left:20px;
}
.import-upload-info .info
{
  color: #666666;
  font-size: 14px;
}