.wasabi-datetime {
  width: 292px;
  height: 330px;
  background-color: white;
  font-size: var(--font-size);
  color:var(--color);
  border:1px solid var(--border-color);
  border-radius: 4px;
  padding:5px;
  display: inline-block;
}
.daterangeinput{
  border:1px solid var(--border-color);
  border-radius: 4px;
}

.daterangeinput:hover {
  border-color: var(--border-hover-color);
}
.daterangeinput.focus{
  border-color: var(--primary-color);
}
.wasabi-has-error .daterangeinput {
  border-color: var(--danger-color);
}

.daterangeinput .wasabi-input{
  outline: none;
    height: 38px;
    border: none;
    width: 45%;
}
/*
快速选择
*/

.wasabi-date-qick {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 60px;
  border-right: 1px solid var(--border-color);
}

.wasabi-date-qick>a {
  color: var(--color);
  cursor: pointer;
  height: 30px;
  text-align: left;
}

.wasabi-date-qick>a:hover {
  color: var(--primary-color);
}

.wasabi-datetime-header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: #409eff;
}

.wasabi-datetime-header .triangle-left {
  float: left;
  cursor: pointer;
  margin-top: -22px;
  margin-left: 10px;
}

.wasabi-datetime-header .triangle-right {
  float: right;
  cursor: pointer;
  margin-top: -22px;
  margin-right: 10px;
}

.wasabi-datetime-body {
  width: 100%;
}

.wasabi-datetime-year {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.wasabi-datetime-year .yearspan{
  width: 70px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;

}

.wasabi-datetime-year .yearspan:hover{
  color: var(--primary-color);
background-color: var(--background-color);
}

.wasabi-datetime-year .yearspan.chosed{
color: white;
background-color: var(--primary-color);
}

.wasabi-datetime-year input {
  border: 1px solid var(--border-color);
  outline: none;
  width: 90px;
  text-align: center;
  height: 40px;
  color: var(--color);
  font-size: var(--font-size);
}

.wasabi-datetime-year input:hover {
  border-color:var(--border-hover-color);
}

.wasabi-datetime-year input:focus {
  border-color: var(--primary-color);
}


.wasabi-datetime-month {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.wasabi-datetime-month .monthspan{
  width: 70px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;

}

.wasabi-datetime-month .monthspan:hover{
  color: var(--primary-color);
background-color: var(--background-color);
}

.wasabi-datetime-month .monthspan.chosed{
color: white;
background-color: var(--primary-color);
}


.wasabi-datetime-body .weekul {
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.wasabi-datetime-body .weekspan {
  list-style: none;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.wasabi-datetime-body .dayul {
  width: 100%;
  margin-top: 2px;
}

.wasabi-datetime-body .datespan {
  list-style: none;
  float: left;
  width:40px;
  height: 28px;
  line-height: 28px;
  text-align: center;;
  cursor: pointer;
  padding:0px 6px;
  margin:6px 0px;
}

.wasabi-datetime-body .datespan.rangespan{
  background-color: var(--background-color);
}

.wasabi-datetime-body .datespan .radius {
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.wasabi-datetime-body .datespan .radius.chosed,.wasabi-datetime-body .datespan .radius:hover {
  color: white;
  background-color: #409eff;
  border-radius: 100%;
}

.wasabi-datetime-body .datespan.begin,.wasabi-datetime-body .datespan.end{
  background-color:white;
}
.wasabi-datetime-body .datespan.begin .radius {
  color: white;
  background-color: #409eff;
  border-radius: 50%;
}


.wasabi-datetime-body .datespan.end .radius {
  color: white;
  background-color: #409eff;
  border-radius: 50%;
}



/*
  时间样式
  */

.wasabi-time-container {
  position: relative;
  width: 240px;
  background: #ffffff;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 20px #ddd;
  height: 220px;
  white-space: pre-wrap;
  text-align: left;
  padding-left: 15px;
  z-index: 1;
}

.timerange .wasabi-time-container {
  border: none;
  z-index: auto;
}

.wasabi-time-container ul {
  list-style: none;
}

.wasabi-time-container p {
  font-weight: bold;
  padding: 0 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  text-align: left;
}

.wasabi-time-container li {
  display: inline-block;
  position: relative;
  margin: 4px;
  cursor: pointer;
  width: 34px;
}

.wasabi-time-container .recthour {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.wasabi-time-container .recthour:hover, .wasabi-time-container .recthour.active {
  background-color: #409eff;
  color: #fff;
}

.wasabi-time-container .second-container {
  display: none;
  border: 1px solid var(--border-color);
  background: #ffffff;
  position: absolute;
  top: 40px;
  width: 240px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 5;
  text-align: left;
}

.wasabi-time-container .second-container.all {
  width: 460px;
}

.wasabi-time-container .second-container::before {
  border-color: transparent transparent #ffffff;
  top: -17px;
  z-index: 1;
}

.timerange {
  width: 420px;
  height: 500px;
}

.wasabi-time-container .second-container::after {
  border-color: transparent transparent var(--border-color);
  top: -20px;
}

.wasabi-time-container .second-container::before, .wasabi-time-container .second-container::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  left: 20px;
}

/*
新版本
*/

.wasabi-time {
  position: relative;
  width: 254px;
  height: 298px;
  background: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-align: left;
  z-index: 1;
}

.wasabi-time .wasabi-time-circle {
  width: 220px;
  height: 220px;
  position: relative;
  background: var(--background-color);
  border-radius: 120px;
  margin: 17px;
  border-bottom: 1px solid var(--border-color);
}

.wasabi-time-circle-hour {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.wasabi-time-circle-hour::after {
  content: "";
  height: 8px;
  width: 8px;
  background: var(--primary-color);
  border-radius: 4px;
  position: absolute;
  top: 11px;
  left: 11px;
}

.wasabi-time-circle-hour .hour {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  transform-origin: center center;
  color: var(--deepColor);
  cursor: pointer;
  font-size: var(--font-size);
}

.wasabi-time-circle-hour .hour:nth-child(n+13) {
  color: var(--color);
  font-size: 12px;
}

.wasabi-time-circle-hour .hour:hover {
  background-color: var(--primary-color);
  color: white;
}

.wasabi-time-circle-hour .hour.active {
  background-color: var(--primary-color);
  color: white;
}

.wasabi-time-circle-hour .hour>span {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  transform-origin: center center;
}

.wasabi-time-circle-hour .a-line {
  position: absolute;
  height: 1px;
  transform-origin: left top;
  background: var(--primary-color);
  top: 15px;
  left: 15px;
}

.wasabi-time-circle-minute {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -14px;
}

.wasabi-time-circle-minute::after {
  content: "";
  height: 8px;
  width: 8px;
  background: var(--select-color);
  border-radius: 4px;
  position: absolute;
  left: 10px;
  top: 1px;
}

.wasabi-time-circle-minute .minute {
  position: absolute;
  border-radius: 15px;
  transform-origin: center center;
  height: 10px;
  width: 28px;
  line-height: 10px;
  font-size: 0;
  color: var(--color);
}

.wasabi-time-circle-hour .minute:hover {
  color: var(--primary-color);
}

.wasabi-time-circle-hour .minute.active {
  color: var(--primary-color);
}

.wasabi-time-circle-minute .minute:nth-child(5n) {
  font-size: 14px;
}

.wasabi-time-circle-minute .minute::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 3px;
  left: 12px;
  pointer-events: none;
  background: #ddd;
  z-index: 3;
}

.wasabi-time-circle-minute .minute:nth-child(5n)::before {
  width: 8px;
}

.wasabi-time-circle-minute .minute:hover::before, .wasabi-time-circle-minute .minute.active::before {
  background: var(--primary-color);
}

.wasabi-time-circle-minute .minute::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  top: -9px;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.wasabi-time-circle-minute .minute:hover::after {
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}

.wasabi-time-circle-minute .minute>span {
  position: absolute;
  transform-origin: center center;
  text-align: center;
  height: 10px;
  width: 28px;
  line-height: 10px;
  pointer-events: none;
  z-index: 19;
  margin-left: 14px;
}

.wasabi-time-circle-minute .a-line {
  position: absolute;
  height: 1px;
  transform-origin: left top;
  background: var(--primary-color);
  width: 82px;
  top: 5px;
  left: 14px;
}

.wasabi-time .wasabi-time-ok {
  height: 41px;
  border-top: 1px solid var(--border-color);
  line-height: 40px;
  display: flex;
  justify-content: space-around;
}

.wasabi-time-ok span {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: var(--font-size);
  color: var(--color);
  cursor: pointer;
}
.wasabi-time-ok input{
  border: 1px solid var(--border-color);
  outline: none;
  color: var(--color);
  font-size: var(--font-size);
}

.wasabi-time-ok span>a {
  height: 25px;
  line-height: 24px;
  margin-left: 8px;
  padding: 0 6px;
  border-bottom: solid 1px var(--primary-color);
  color: var(--primary-color);
}

.wasabi-time-ok>a {
  width: 52px;
  color: var(--primary-color);
  text-align: center;
  cursor: pointer;
  font-size: var(--font-size);
}