@import url("../base.scss");
.wasabi-detail
{
    margin-left:10px;
}
 .wasabi-detail .wasabi-table
{
background-color: #0d3f42;
}

/*
表格基本样式
*/
.wasabi-detail .wasabi-table .table {
    border: 1px solid #204f52;

    border-spacing: 0;
    border-collapse: collapse;
    overflow-y: auto;
    width: 100%
}
.wasabi-detail .wasabi-table .table div{
    color:#c1d6d7;
}
.wasabi-detail .wasabi-table .table span{
    color:#c1d6d7;
}
.wasabi-detail .wasabi-table .table > thead > tr > th {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    background-color: transparent;;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color:#c1d6d7;
}

.wasabi-detail .wasabi-table .table > tbody > tr > td {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color:#c1d6d7;
    overflow: visible;
}

.wasabi-detail .wasabi-table .table > thead > tr > th.check-column
{
    padding-left: 20px;
    padding-right: 10px;
    width:9px;
}
.wasabi-detail .wasabi-table .table > tbody > tr > td.check-column
{
    padding-left: 20px;
    padding-right: 10px;
    width:9px;
}

.wasabi-detail .wasabi-table .table > thead > tr > th,
.wasabi-detail .wasabi-table .table > tbody > tr > td {
    border-right: 1px solid #204f52;
    border-bottom: 1px solid #204f52;
}
.wasabi-detail .wasabi-table .table > thead > tr > th:last-child
{
    border-right: 0px solid #204f52;
}
/*
没有边框的时候
*/

.wasabi-detail .wasabi-table .table.table-no-bordered  > tbody > tr > td {
    border: none;
}


/*
  有边框的时候
 */

.wasabi-detail .wasabi-table .table > tbody > tr > td :last-child{
    border-right: 1px solid #204f52;
}


    /*
    背景颜色
    */

.wasabi-detail .wasabi-table .table > tbody > tr.even {
    background-color: transparent;
}
.wasabi-detail .wasabi-table .table > tbody > tr.selected {
    background-color: #ffe48d;
}

.wasabi-detail .wasabi-table .table > tbody > tr:hover {
    background-color: #0e4548;
}

/*
排序样式
*/

.wasabi-detail .wasabi-table thead th.both {
    cursor: pointer;
    background-position:95% 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}

.wasabi-detail .wasabi-table thead th.asc {
    cursor: pointer;
    background-position:95% 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

.wasabi-detail .wasabi-table thead th.desc {
    cursor: pointer;
    background-position:95% 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}

/*
分页
*/

/*
借用了bootstrap的pagination
*/
.wasabi-detail .pull-right {
    float: right!important;
}
.wasabi-detail .pagination {
    display: inline-block;
    padding-left: 0;
   margin: 0px;
    margin-top: 5px;
    border-radius: 4px;
}
.wasabi-detail .pagination > li {
    display: inline;
}
.wasabi-detail .pagination > li > a,
.wasabi-detail .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #f5f6f7;
    border: 1px solid #e3e4e5;
    margin-left: -1px;
}

.wasabi-detail .pagination > li > a:hover,
.wasabi-detail .pagination > li > span:hover,
.wasabi-detail .pagination > li > a:focus,
.wasabi-detail .pagination > li > span:focus {

    color: #c1d6d7;
    background-color: transparent;
    cursor: default;
}
.wasabi-detail .pagination > .active > a,
.wasabi-detail .pagination > .active > span,
.wasabi-detail .pagination > .active > a:hover,
.wasabi-detail .pagination > .active > span:hover,
.wasabi-detail .pagination > .active > a:focus,
.wasabi-detail .pagination > .active > span:focus {

    color: #c1d6d7;
    background-color: transparent;
    cursor: default;
}
.wasabi-detail .wasabi-table-pagination
{
    display: block;
    padding-top: 0px;
}
.wasabi-detail .wasabi-table-pagination .pagination-detail {
    padding-left:20px;
    float:left;
    padding-top: 12px;

}

.wasabi-detail .wasabi-table-pagination div.pagination .pagination {
    margin: 0;
}

.wasabi-detail .wasabi-table-pagination .pagination a {
    padding: 6px 12px;
    line-height: 1.428571429;
}

.wasabi-detail .wasabi-table-pagination .pagination-info {

    margin-right: 5px;
    color:#c1d6d7
}

.wasabi-detail .wasabi-table-pagination .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.wasabi-detail .wasabi-table-pagination .dropup .dropdown-menu {
    margin-bottom: 0;
}

.wasabi-detail .wasabi-table-pagination .page-list {
    display: inline-block;
}

/*
正在加载
*/
.wasabi-detail .wasabi-table .table-loading {
    position: absolute;
    float: left;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../../../img/loading.gif");
    background-size: 16px 16px;
    background-position: 50% 30%;
    background-repeat: no-repeat;
}


