/*create by wangzy
date:2016-02-24
desc:表单样式
*/
@import url("../base.scss");
.wasabi-form
{
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width:100%;
    max-width:1366px;
    display: block;
    min-height: 80px;


}

.wasabi-form .form-body{
    width:100%;
}

.wasabi-form .form-submit
{
    display: block;
    text-align: center;
    width:100%;
    margin-top: 20px;
    height:30px;



}



