/*create by wangzy
date:2016-02-24
desc:表单样式
*/

.wasabi-form
{
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    width:100%;
    display: block;
   


}

.wasabi-form .form-body{
    width:100%;
}

.wasabi-form .form-submit
{
    display: block;
    text-align: center;
    width:100%;
    margin-top: 20px;
    height:30px;



}



