/*create by wangzy
date:2016-03-30
desc:下拉框样式
*/
@import url("../base.scss");
.nice-select {
  width: 100%;
  display: block;
  position: relative;

}

.nice-select .icon {

  display: block;
  font-family: 'icomoon' !important;
  font-style: normal;
  width: 34px;
  height: 34px;
  border-left: 1px solid #d7dde2;
  position: absolute;
  top: 0px;
 right: 0px;
  cursor: pointer;
}
.nice-select .icon.rotate:before{
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);

}
.nice-select .icon:before {
  -webkit-transition: top, -webkit-transform 0.6s;
  transition: top, -webkit-transform 0.6s;
  transition: top, transform 0.6s;
  transition: top, transform 0.6s, -webkit-transform 0.6s;
  font-size: 13px;
  content: "\E915";
  position: absolute;
  top: 10px;
  left: 9px;
  color: #d7dde2;
}

.nice-select .picker-clear{
  font-family: 'icomoon' !important;
  font-style: normal;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 40px;
  top: 8px;
  cursor: pointer;
}
.nice-select .picker-clear:before{
  font-size:16px;
  content: "\e90c";
  color: #bbbbbb;
}
.nice-select ul {
  width: 100%;
  display: none;
  position: absolute;
  left: 0px;
  overflow: hidden;
  background-color: #fff;
  max-height: 270px;
  min-height: 100px;
  overflow-y: auto;
  border: 1px solid #999;
  border-top: 0;
  box-shadow: 0 3px 5px #999;
  z-index:3;
  top:34px ;
  padding:0px;
  margin: 0px;;
  min-width: 120px;
}
.nice-select ul li {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}
.nice-select ul li:hover {
  background-color: #dcf9f8;
}

.nice-select ul li.active {
  background-color: #dcf9f8;
}
.nice-select ul li.active:after
{
  font-family: 'icomoon' !important;
  content:"\e95d";
  position: absolute;
  top:0px;
  right: 20px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color:#2ec9c2;
}

