/*
按钮样式
*/
@import url("../base.css");
.wasabi-button
{
      display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    position: relative;
    outline: none;
    margin-right:5px;
    margin-left: 5px;
  
}
.wasabi-button.size-large{
     padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

}
.wasabi-button.size-default{
  padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}
.wasabi-button.size-small{
     padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;

}
  .wasabi-button.size-mini{
        padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  
.wasabi-button.primary {
     background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFF;
}
.wasabi-button.primary.active, .wasabi-button.primary:active, .wasabi-button.primary:focus, .wasabi-button.primary:hover {
    background-color: #16689E;
    border-color: #16689E;
    color: #FFF;
}
  .wasabi-button.primary.active.focus, .wasabi-button.primary.active:focus, .wasabi-button.primary.active:hover, .wasabi-button.primary:active.focus, .wasabi-button.primary:active:focus, .wasabi-button.primary:active:hover{
    border-color: #16689E;
}
.wasabi-button.default{
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFF;
}
.wasabi-button.default.active, .wasabi-button.default:active, .wasabi-button.default:focus, .wasabi-button.default:hover{
    background-color: #bababa;
    border-color: #bababa;
    color: #FFF;
}

  .wasabi-button.default.active.focus, .wasabi-button.default.active:focus, .wasabi-button.default.active:hover, .wasabi-button.default:active.focus, .wasabi-button.default:active:focus, .wasabi-button.default:active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.wasabi-button.success {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFF;
}
.wasabi-button.success.active, .wasabi-button.success:active, .wasabi-button.success:focus, .wasabi-button.success:hover {
    background-color: #18a689;
    border-color: #16987E;
    color: #FFF;
}
.wasabi-button.success.active.focus, .wasabi-button.success.active:focus, .wasabi-button.success.active:hover, .wasabi-button.success:active.focus, .wasabi-button.success:active:focus, .wasabi-button.success:active:hover {
    color: #fff;
    background-color: #18a689;
    border-color: #18a689;
}
.wasabi-button.info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFF;
}
.wasabi-button.info.active, .wasabi-button.info:active, .wasabi-button.info:focus, .wasabi-button.info:hover {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #FFF;
}
.wasabi-button.info.active.focus, .wasabi-button.info.active:focus, .wasabi-button.info.active:hover, .wasabi-button.info:active.focus, .wasabi-button.info:active:focus, .wasabi-button.info:active:hover {
    color: #fff;
    background-color: #188A8D;
    border-color: #188A8D;
}
.wasabi-button.warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFF;
}
.wasabi-button.warning.active, .wasabi-button.warning:active, .wasabi-button.warning:focus, .wasabi-button.warning:hover {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFF;

}
  .wasabi-button.warning.active.focus, .wasabi-button.warning.active:focus, .wasabi-button.warning.active:hover, .wasabi-button.warning:active.focus, .wasabi-button.warning:active:focus, .wasabi-button.warning:active:hover{
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}

.wasabi-button.danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFF;
}
.wasabi-button.danger.active, .wasabi-button.danger:active, .wasabi-button.danger:focus, .wasabi-button.danger:hover {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #FFF;

}
  .wasabi-button.danger.active.focus, .wasabi-button.danger.active:focus, .wasabi-button.danger.active:hover, .wasabi-button.danger:active.focus, .wasabi-button.danger:active:focus, .wasabi-button.danger:active:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #ac2925;
}
  
.wasabi-button.cancel
{

  color:#606568;
  background: linear-gradient(#ffffff ,#f0f2f4);
  border: 1px solid #dbdee1;
}

.wasabi-button.cancel.active, .wasabi-button.cancel:active, .wasabi-button.cancel:focus, .wasabi-button.cancel:hover {
  color:#606568;
  background: linear-gradient(#f0f2f4,#ffffff);
  border: 1px solid #dbdee1;
}


.wasabi-button .outline {
    color: inherit;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
}


.wasabi-button[disabled] {
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
}