/*create by wangzy
date:2016-03-02
desc:小图标按钮样式
*/

.wasabi-linkbutton
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
    text-decoration: none;
    background-color:transparent;
    border-radius: 0;
    margin-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

.wasabi-linkbutton .icon-rightTop
{
    position: absolute;
    margin-top: -12px;
    margin-right: -15px;
}
.wasabi-linkbutton .icon-rightBottom
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.wasabi-linkbutton:hover
{
  opacity: 0.8;
}

.wasabi-linkbutton[disabled] {
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.wasabi-linkbutton.onlyicon
{
    border: none;
    text-decoration: none;
    width: auto;
    height:auto;
    position: relative;
    background-color: transparent;
    margin: 0px;
    padding: 0px;

}
.wasabi-linkbutton.onlyicon:hover
{
    opacity: 0.8;
   border: none;
}

.wasabi-linkbutton.onlytext
{
    padding: 0px;
    margin-right: 5px;
   
}
.wasabi-linkbutton.onlyicon[disabled] {
    border: none;
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.wasabi-linkbutton-text
{
   display: inline-block;
    top: -1px;
    position: relative;
}
.wasabi-linkbutton-text.left
{
    margin-left: 2px;

}
.wasabi-linkbutton-text.right
{
    margin-right: 2px;
}