/*create by wangzy
date:2016-03-26
desc:可停靠div样式
*/
@import url("../base.scss") ;
.drop
{

  background: #ffffff;
border: 1px solid #dadada;

}
.dragEnter
{
  background-color: #f6faf9;
}