/*
create by wangzy
date:2016-05-18
desc:面板组件样式
*/
@import url("../base.scss") ;
.wasabi-panel{
  margin: 0px;
  margin-bottom: 10px;
  box-shadow:none;
  overflow: visible;
}
.wasabi-panel .panel-heading
{
  position: relative;
  border-bottom:1px solid #ccc;
  height: 32px;
}
.wasabi-panel .panel-heading h3{
  margin: 5px;
  font-size: 15px;
}

.wasabi-panel .panel-buttons
{
  position:absolute;
  right:30px;
  bottom: -7px;
  height: 40px;

}

.wasabi-panel .panel-icon
{
  position:absolute;
  right:10px;
  bottom: 5px;
  width:20px;
  height:20px;

}
.wasabi-panel .panel-body
{
  -webkit-transition: height 1s;
  transition:height 1s;
  height:100%;
  overflow-x: visible;
  padding:0px;
  padding-bottom: 10px;

}

