/*
滑动面板样式
create by wangzy
date:2016-07-05
*/
.wasabi-slidepanel
{
position: fixed;
  height:100%;
  left:0px;
  top:0px;
  z-index: 2;
}
.wasabi-slidepanel .overlay
{
  position: absolute;
  height: 100%;
  width:100%;
  background-color: #000000;
  opacity: 0.5;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;

}
.wasabi-slidepanel .container
{
 position:absolute;
  right: 0px;
  height:100%;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
  overflow: hidden;
}

.wasabi-slidepanel .container .container-left
{
  width:36px;
  height: 100%;
  background-color: transparent;
  background-position: center;
  background-image: url("../../../img/slideclose.png");
  background-repeat: no-repeat;
  float: left;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
 overflow: hidden;
}

.wasabi-slidepanel .container .container-left:hover,
.wasabi-slidepanel .container .container-left:active
{
  background-image: url("../../../img/slideopen.png");
}


.wasabi-slidepanel .container .container-right
{

  background-color: #ffffff;
  float: right;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
  height:100%;
  overflow:hidden;
}
.wasabi-slidepanel .container .container-right .header
{
  width:100% ;
  margin-top:20px;
}
.wasabi-slidepanel .container .container-right .header
{
  width:100% ;
  margin-top:20px;
  height: 34px;
}
.wasabi-slidepanel .container .container-right .header .title
{
position: absolute;
  left: 30px;
  background-color: #0d4043;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  min-width: 100px;
  text-align: center;
  padding-left:6px;
  padding-right: 6px;
  color: white;
}
.wasabi-slidepanel .container .container-right .header .arrow-left
{
  position: absolute;
  left: 30px;
  top: 50px;
  width: 0px;
  height: 0px;
  border: 6px solid transparent;
  border-top:6px solid #072c2e;
}
.wasabi-slidepanel .container .container-right .header .arrow-right
{
  position: absolute;
  left: 36px;
  top: 50px;
  width: 6px;
  height: 6px;
 background-color:#ffffff;
}
.wasabi-slidepanel .container .container-right .header .title:after
{
  content: "11111";
  color: transparent;
  width: 15px;
  height: 30px;
  right: -15px;
  position: absolute;
background-image: url("../../../img/slidetitle.png");
  background-repeat: no-repeat;
  background-size: 15px 30px;

}
.wasabi-slidepanel .container .container-right .header .buttoncontainer
{
  position: absolute;
  right: 20px;
  top: 24px;
}

.wasabi-slidepanel .container .container-right .body
{
  padding-left: 30px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom: 10px;
  width:100% ;
  height: 100%;
  min-height:400px;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
}