.wasabi-menu {
	width: 100%;
	min-width: 220px
}

dropdown {
	display: block;
	background: #2f4050;
	transition: all .5s
}

dropdown.expand {
	border-left: 4px solid #19aa8d;
	background-color: #293846
}

dropdown label {
	color: #a7b1c2;
	text-align: left;
	padding: 10px;
	padding-left: 30px;
	margin-left: 4px;
	display: block;
	font-weight: 600
}

dropdown label:hover {
	background-color: #293846;
	color: #fff
}

dropdown ul {
	display: none;
	transition: all .5s
}

dropdown.expand ul {
	display: block
}

dropdown ul li {
	display: block;
	padding: 10px
}

dropdown ul li,dropdown ul li * {
	text-align: center;
	color: #a7b1c2;
	font-weight: 600
}

dropdown ul li.active *,dropdown ul li:hover,dropdown ul li:hover * {
	background-color: #293846;
	color: #fff;
	cursor: pointer
}

dropdown input {
	display: none
}

dropdown input:checked+label {
	color: #fff
}
