
@import url("../base.scss") ;
.wasabi-nav-container>section{
    width: 100%;
    position: absolute;
    top:40px;
}
.tabsection
{
    display: none;
}
.checkedsection
{
    width: 100%;
}
iframe
{
    width: 100%;
    border: none;
}
.wasabi-nav-tabs {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0px;
    height: 40px;
    background-color:#0d4043;
    position: absolute;
    top: 0px;
    width: 100%;

}
.wasabi-nav-tabs  li {
    float:left;
    position: relative;
    display: block;
    height: 40px;
    padding-left: 1px;

}

.wasabi-nav-tabs .tabmenu
{
    background-image:url('../../img/menu.png');
    background-size: 40px 40px;
    width: 40px;
    height:40px;
    background-repeat:no-repeat;

}
.wasabi-nav-tabs .tabmenu.close
{
    background-image:url('../../img/menuactive.png');
    background-size: 40px 40px;
    width: 40px;
    height:40px;
    background-repeat:no-repeat;

}

.wasabi-nav-tabs .tabhome {
    width: 40px;
    height:40px;
    font-family: 'icomoon' !important;
    font-style: normal;
    color:#86a0a1;
}
.wasabi-nav-tabs .tabhome:before
{
    content: "\e91e";
    font-size: 20px;
    top: 10px;
    position: absolute;
    left: 10px;
}
.wasabi-nav-tabs .tabhome.active:before{
    color:#ffffff;
}
.wasabi-nav-tabs .tabuser {
    width: 40px;
    height:40px;
    float:right;
    font-family: 'icomoon' !important;
    color:#86a0a1;

}
.wasabi-nav-tabs .tabuser:before
{
    content: "\e957";
    font-size: 20px;
    top: 10px;
    position: absolute;
    left: 10px;
}
.wasabi-nav-tabs .tabuser:hover,
.wasabi-nav-tabs .tabuser.active
{
   color: #ffffff;
}

.wasabi-nav-tabs .left{
    width: 20px;
}

.wasabi-nav-tabs .left:before{
    font-size: 20px;
    color: #86a0a1;
    top:9px;
    position: absolute;

}
.wasabi-nav-tabs .left:hover:before
{
    color: #ffffff;
}
.wasabi-nav-tabs .right{
    width: 20px;
}
.wasabi-nav-tabs .right:before{
    font-size: 20px;
    color: #86a0a1;
    top:9px;
    position: absolute;
}
.wasabi-nav-tabs .right:hover:before {
    color: #ffffff;
}

.wasabi-nav-tabs .content{
overflow: hidden;
    position: relative;
}

.wasabi-nav-tabs > .content>ul{
    position: relative;
    left:0px;
}


.wasabi-nav-tabs > .content>ul>li > a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    margin-right: 0px;
    text-decoration: none;
    border: none;
    padding-left:0px;
    width:150px;
    padding-right: 1px;
    overflow: hidden;
}
.wasabi-nav-tabs > .content ul>li > a:hover
{
    background-color: #114e52;

}
.wasabi-nav-tabs > .content ul>li.active > a{
    background-color: #114e52;
}

.wasabi-nav-tabs > .content ul>li > a .text{
    color:#86a0a1;
    font-size: 12px;
    width:150px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    border: none;
}

.wasabi-nav-tabs > .content ul>li> a:hover .text{
    color: #ffffff;
}
.wasabi-nav-tabs > .content ul>li.active > a .text{
    color: #ffffff;
}

.wasabi-nav-tabs > .content ul>li .icon{
    top: 12px;
    left: 10px;
    position: absolute;
    font-size: 16px;
    color: #86a0a1;


}
.wasabi-nav-tabs > .content ul>li.active .icon {
    color: white;
}
.wasabi-nav-tabs > .content ul>li .closeicon{
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}
.wasabi-nav-tabs > .content ul>li .closeicon:before {
color: #86a0a1;

}
.wasabi-nav-tabs > .content ul>li.active .closeicon:before{
    color:#ffffff;
}
.wasabi-nav-tabs > .content ul>li .closeicon:hover:before{

    color:#2ec9c2;

}

.wasabi-nav-tabs > .content ul>li .split{
    float: right;
    or: transparent;
    width: 1px;
    height: 20px;
    background-color: #265356;
    position: absolute;
    right: 0px;
    top: 12px;
}





