/*create by wangzy
date:2016-04-26
desc:日期选择样式
*/
@import url("../base.scss");
.combobox {
  width: 100%;
  height: 34px;
  display: block;
  position: relative;
}

/*下拉图标*/
.combobox .pickericon{
  content: "";
  display: block;
  background-image: url(../../../img/icons/selecticon.png) ;
  background-repeat: no-repeat;
  width: 35px;
  height: 32px;
  border-left: 1px solid #d7dde2;
  position: absolute;
  right: 0px;
  top: 0px;
  background-size: 32px;
  cursor: default;
}
/*清空图标*/
.combobox .picker-clear{
  content: "";
  display: block;
  background-image: url(../../../img/icons/clear.png) ;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 40px;
  top: 9px;
  background-size: 16px;
  cursor: pointer;
  border-radius: 16px;
}

/**/
.combobox .dropcontainter{
  padding:0px;
  margin: 0px;;
  display: none;
  position: absolute;
  overflow: visible;
  z-index:9999;
  top:34px;
  border:1px solid #d7dde2;
  box-shadow: 0px 0px 20px #dddddd;
  background-color: white;
}

/*多行添加文本*/
.combobox .mutiText{
width:250px;
  height: 150px;
}

/*日期*/
.combobox .date {
  width:249px;
  height:248px;

}
.combobox .date.time {
  height:280px;

}

/*日期范围*/
.combobox .range
{
  width:500px;
  height:287px;
}
.combobox .range.default
{
  left:0px;
}
.combobox .range.left
{
  left: 0px;
}
.combobox .range.right
{
  left: -170px;
}
/*联级选择*/
.combobox .picker
{
  width:410px;
  height:527px;


}
.combobox .picker.default
{
  left: 0px;
}
.combobox .picker.left
{
  left:0px;
}
.combobox .picker.right
{
  left:-170px;
}
/*下拉列表*/
.combobox .gridpicker{
  width:410px;
  height:527px;
  padding:0px;
  margin: 0px;;
  display: none;
  overflow: auto;
  position: absolute;
  left: 0px;
  z-index:4;
  top:34px;
  border:1px solid #d7dde2;
  box-shadow: 0px 0px 20px #dddddd;
  background: white;
}
.combobox .gridpicker.default
{
  left: 0px;
}
.combobox .gridpicker.left
{
  left:0px;
}
.combobox .gridpicker.right
{
  left:-60px;
}

/*下拉面板*/
.combobox .panelpicker
{
  width:410px;
  height:527px;
  padding:0px;
  margin: 0px;;
  display: none;
  position: absolute;
  z-index:4;
  top:34px;
  background: white;

}
.combobox .panelpicker.default
{
  left: 0px;
}
.combobox .panelpicker.left
{
  left:0px;
}
.combobox .panelpicker.right
{
  left:-170px;
}

.combobox .ok
{
  display: block;
 width: 100%;
  height:40px;
  border-top: 1px solid #f0f0f0;
  border-bottom: none;
  text-align: right;
  float: left;

}
.combobox .ok .wasabi-button
{
  margin-top:5px;
  margin-bottom: 5px;
  min-width: 66px;
  width:66px;
}
.combobox .mutiText .ok
{
  text-align: center;
  border-top: none;
}