@import url("../base.scss") ;
.picker{
  position: absolute;
  border: 1px solid #c9cbce;
  width: 422px;
  background: #ffffff;
  z-index: 3;
  font-size: 0;
  height: 500px;
  overflow:auto;
  top:-1px;
  white-space: normal;
}

.picker *{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
}
.picker ul{
  list-style: none;
}
.picker ul li{
  display: inline-block;
  position: relative;
  margin: 4px;
  cursor: pointer;
}
.picker p{
  font-weight: bold;
  padding: 0 4px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.picker .hot-wrap{
  width: 100%;
  background: #ffffff;
  padding: 9px;
}

.picker .line
{
  width: 372px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 4px;
  border-bottom: 1px solid #d8d8d8;
}
.picker .hot-item
{
  width: 68px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #f5f5f5;
}

.picker .hot-item:hover{
  color: #2ec9c2;
}
.picker .hot-chose.expand{
  color: #2ec9c2;
}

//外层容器
.picker .wrap{
  position: relative;
  width: 100%;
  background: #ffffff;
  padding: 9px;
}


/*
子节点容器
*/
.picker .picker-container.expand{
  z-index: 3;
}

.picker .picker-container-wrap{
  display: none;
  border: 1px solid #D8D8D8;
  box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.4);
  background: #ffffff;
  position: absolute;
  top: 39px;
  width: 328px;
  padding: 10px;
}

.picker .picker-container-name{
  display: inline-block;
  width: 68px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
  background-color: #f5f5f5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.picker .picker-container-name:hover{
  color: #2ec9c2;
}

.picker .picker-container-name.expand{
  border: 1px solid #D8D8D8;
  border-bottom-color: #ffffff;
  color: #2ec9c2;
  background-color: #ffffff;
}


.picker .pickeritem{
  width: 68px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #666666;
  background-color: #f5f5f5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.picker .pickeritem:hover{
  color: #2ec9c2;
}
.picker .pickeritem.expand{
  color: #2ec9c2;
}